/* ==UserStyle==
@name           BiliBili 收藏 FavList 宽屏优化
@namespace      github.com/magicdawn/bilibili-fav-refine
@version        2025.08.01
@description    B站, BiliBili 收藏 FavList 宽屏优化
@author         magicdawn
@preprocessor   less
==/UserStyle== */

@bili-pink: #ff6699;
@bili-blue: #00aeec;
@marrs-green: #01847f; // 马尔斯绿

@-moz-document regexp("https://space\\.bilibili\\.com\\/\\d+\\/favlist.*"), regexp("https://space\\.bilibili\\.com\\/\\d+\\/video.*")
{
  // 页面加宽
  @media (min-width: 1560px) {
    #app .space-main {
      --side-padding: 60px;
    }
  }

  // 选择收藏夹, 列表加长
  .space-main.route_favlist {
    .fav-collapse-wrap {
      // max-height: unset !important;
      max-height: 90vh !important;
    }
  }

  // 选择收藏夹 modal 打开: 锁定滚动
  body:has(.vui_dialog--content.fav-modify-modal-content) {
    overflow-y: hidden;
  }

  /**
  * 移动到-选择收藏夹
  */
  .vui_dialog--content.fav-modify-modal-content {
    width: min(1200px, 90vw) !important;

    .modify-fav-wrapper {
      height: unset;
      overflow-y: unset;
    }

    .modify-fav-list .vui_radio-group {
      display: grid;
      grid-template-columns: repeat(5, minmax(0, 1fr));
      gap: 0 30px;
      max-height: calc(95vh - 220px);
      overflow-y: auto;
      column-gap: 25px;
      row-gap: 15px;
    }

    .vui_radio.modify-fav-item {
      justify-content: flex-start;
      border: 1px solid #eee;
      border-radius: 7px;
      padding-inline: 10px !important;

      // 数字 + 括号
      .modify-fav-item__count {
        &::before {
          content: '(';
        }
        &::after {
          content: ')';
        }
      }

      // hover & selected 高亮
      &:hover {
        background-color: var(--bg2);
      }
      &.vui_radio--checked {
        background-color: var(--brand_blue);
        color: var(--text_white);
        .modify-fav-item__title,
        .modify-fav-item__count {
          color: var(--text_white);
        }
      }

      .vui_radio--label {
        padding: 0;
      }

      // radio button 不在中心, 但这个修复也不能在中心
      // .vui_radio--input-box {
      //   display: flex;
      //   align-items: center;
      //   justify-content: center;
      //   &::after {
      //     position: static;
      //     inset: unset;
      //   }
      // }
    }
  }
}

/**
 * 视频播放页
 */
@-moz-document url-prefix("https://www.bilibili.com/list/watchlater?bvid="),
  url-prefix("https://www.bilibili.com/video/")
{
  /**
   * 选择收藏夹 modal
   */

  // body has general modal
  body:has(.bili-dialog-m) {
    overflow: hidden !important;
  }

  // 收藏 .collection-m-exp
  // and others

  // 收藏 modal
  body:has(.collection-m-exp) {
    // bilibili-evolved custom header
    @header: ~'var(--navbar-height, 64px)';

    // rm this stack context
    .video-container-v1 .left-container.scroll-sticky {
      position: relative;
      z-index: unset;
    }

    .bili-dialog-m {
      .bili-dialog-bomb {
        width: 1200px;

        .collection-m-exp {
          width: 100%;

          .content {
            height: max-content;
            @modal-header: 50px;
            @modal-footer: 77px;
            @modal-padding: 15px;
            max-height: calc(100vh - @modal-header - @modal-footer - @modal-padding * 2);

            .group-list {
              max-height: unset;

              ul {
                display: grid;
                grid-template-columns: repeat(4, minmax(0, 1fr));
                gap: 20px 20px;
                margin-bottom: 20px;

                li {
                  border: 1px solid transparent;
                  border-radius: 6px;
                  border-color: @bili-blue;
                  &:hover {
                    background-color: var(--bg2);
                    box-shadow: 0 0 8px 6px #00aeec;
                  }

                  padding-block: 12px;
                  padding-inline: 10px;

                  label {
                    display: flex;
                    align-items: center;
                    flex-wrap: nowrap;

                    .personal {
                      margin-left: 15px;
                    }

                    .count {
                      flex-grow: 1;
                      text-align: right;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
